/* -----------
Font-poppin 500
------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=The+Nautigal&display=swap');
h2{
    color: #562EFF;
    font-size: 24px;
}